<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735095319525-83m3aorh4b7i1h2ra306bpur74q8d4mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735095319525-83m3aorh4b7i1h2ra306bpur74q8d4mt</string>
	<key>API_KEY</key>
	<string>AIzaSyAwQm7QBy8C2XYuWB7JlX4JjEEjs7F3SLM</string>
	<key>GCM_SENDER_ID</key>
	<string>735095319525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.PraticalTest</string>
	<key>PROJECT_ID</key>
	<string>ios-api-1357</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-api-1357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735095319525:ios:50aea1af3dd875e9e51d0c</string>
	<key>DATABASE_URL</key>
	<string>https://ios-api-1357.firebaseio.com</string>
</dict>
</plist>